<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <% include ./partials/head %>
    <title>Bakery-About</title>

    </head>
    <body>	
        <% include ./partials/navbar %>
        <!-- start banner Area -->
        <section class="banner-area relative about-banner" id="home">	
            <div class="overlay overlay-bg"></div>
            <div class="container">				
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            About Us				
                        </h1>	
                        <p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p>
                    </div>	
                </div>
            </div>
        </section>
        <!-- End banner Area -->	

        <!-- Start home-about Area -->
        <section class="home-about-area section-gap">
            <div class="container">
                        <h1>
                            We’ve baked every item
                            from the core of our heart to serve you
                        </h1>
                        <p>
                            <span>We are here to listen from you deliver exellence by any means</span>
                        </p>
                        <p>
                            Sweet Tooth Bakery is a family owned bakery whose aim is to bake products from scratch that will leave you wanting more. Our mission is to deliver freshly baked and quality products.
                        </p>
            </div>
        </section>
        <!-- End home-about Area -->

        <!-- Start review Area -->
        <section class="review-area section-gap relative">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-9 pb-40 header-text text-center">
                        <h1 class="pb-10 text-white">Enjoy our Client’s Review</h1>
                        <p>
                            Who are extremely in love with our products.
                        </p>
                    </div>
                </div>		

                        <!-- new carousel  -->
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="title justify-content-start d-flex">
                                    <h4>Caxton Branson</h4>
                                    </div>
                                    <p>
                                        This place has the best and fresh baked stuff. The pastries and the cakes are so good and also a treat to the eye. Always the best place to get cakes
                                    </p>
                                </div>
                                <div class="carousel-item">
                                    <div class="title justify-content-start d-flex">
                                        <h4>Samuel Njoroge</h4>
                                    </div>
                                    <p>
                                        Ok. If you're looking to have some great cakes to gorge on, this is the place. Don't try any other stuff, you'll die for their cakes.
                                    </p>
                                </div>
                                <div class="carousel-item">
                                    <div class="title justify-content-start d-flex">
                                        <h4>Penny Rowen</h4>
                                    </div>
                                    <p>
                                        These cakes are..OMG.Assorted ones are even better...worth stopping once atleast.....You got to try something here.
                                    </p>
                                </div>
                            </div>
                        </div>

                   
            </div>	
        </section>
        <!-- End review Area -->

        <% include ./partials/footer %>	
    </body>
</html>