<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <% include ./partials/head %>
    <title>Bakery</title>
</head>

    <body>	
        <!-- #header -->
        <% include ./partials/navbar %>

        <!-- start banner Area -->
        <section class="banner-area relative" id="home">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row fullscreen d-flex justify-content-center align-items-center">
                    <div class="banner-content col-lg-10 col-md-12 justify-content-center">
                        <h6 class="text-uppercase">Whenever we bake, we bake with our heart</h6>
                        <h1>
                            Love with baking items			
                        </h1>
                        <a href="/menu" class="btn btn-primary squire text-uppercase mt-10">Check Our Menu</a>
                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->

        <!-- Start home-about Area -->
        <section class="home-about-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h6 class="text-uppercase">Brand new site to blow your mind</h6>
                        <h1>
                            We’ve baked every item
                            from the core of our heart to serve you
                        </h1>
                        <p>
                            <span>We are here to listen from you deliver exellence by any means</span>
                        </p>
                        <p>
                                Sweet Tooth Bakery is a family owned bakery whose aim is to bake products from scratch that will leave you wanting more. Our mission is to deliver freshly baked and quality products.
                        </p>						
                    </div>
                </div>
            </div>	
            <img class="about-img" src="/images/about-img.png" alt="">
        </section>
        <!-- End home-about Area -->

        <% include ./partials/footer %>
    </body>
</html>